<div class="p-3 bg-light border rounded-3">
    <h2>{{postagem.titulo}}</h2>
    <p class="fs-5 fw-light">{{postagem.descricao}}</p>
    <p class="fs-6">{{postagem.conteudo}}</p>
    <hr class="mt-4">
    <small>Categoria: {{postagem.categoria.nome}}</small><br/>
    <small>Data de publicação: {{postagem.date}}</small>
</div>
